<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 扫描-->
    <context:component-scan base-package="com"/>

    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
    <!-- 设置处理器适配器 中的转换工厂 ,可以用来转换 提交数据至特定格式 以绑定到controller方法的参数上-->
    <bean id="conversionServiceFactoryBean" class ="org.springframework.format.support.FormattingConversionServiceFactoryBean" >
        <property name="converters">
            <list>
                <bean class="com.converters.Dateconverter"></bean>
            </list>
        </property>
    </bean>
        <!--可以设置转换器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean class="com.util.exception.CustomHandleCustomHandleException"></bean>
</beans>